.form {
  &__label--hidden {
    display: none;
  }
  &__input {
    @include center;
    font-weight: bold;
    margin-top: 15px;
    padding-top: 15px;
    padding-left: 15px;
    padding-bottom: 15px;
    border: none;
    border-bottom: 5px solid $primary-color;
    width: 88%;
  }
}

.form__input[type="password"] {
  margin-bottom: 20px;
}

.form {
  background-color: $background-color;
}

#forms {
  padding-left: 20px;
}

@media (min-width: $max-width){
  #forms {
    padding-left: 0;
  }
}
