

.container {
  color: $font-color-light;
  margin: 0;
  padding-bottom: 20px;
}

.link {
  color: $link-color;
  text-decoration: none;
}

.blockquote {
  font-family: $primary-font;
  font-style: italic;
  letter-spacing: 1px;
  line-height: 1.25em;
  border-left: 10px solid $primary-color;
  border-radius: 5px;
  padding-left: 10px;
  font-size: 1.3em;
}

.headline {

  &--primary {
    font-family: $primary-font;
    color: $font-color-primary;
    width: 80%;
    margin-left: 15px;
  }
  &--secondary {
    font-family: $primary-font;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 0;
  }
}

#type,
#forms,
#images,
#buttons,
#grid {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  font-weight: bolder;
}

.btn {
  &--default,
  &--success,
  &--error,
  &--warning,
  &--info {
    font-weight: bold;
  }
}

.theme__colors {
  text-align: center;
  font-weight: bold;
}

.headline--primary + p {
  width: 100%;
  line-height: 1.25em;
}

.grid__col--12 p {
  display: block;
  margin-left: 25px;
  margin-right: 25px;
}

.grid__col--8 {
  & p,
  h1,
  h4 {
    padding-left: 25px;
    padding-right: 25px;
  }
  .blockquote {
    width: 75%;
    padding-left: 20px;
  }
}


@media (min-width: $max-width) {
  .container {
    padding-bottom: 100px;
  }
  .grid__col--8 {
    margin-right: 0;
    margin-left: auto;
    & p,
    h1,
    h4 {
      padding-left: 20px;
      width: 88%;
    }
    .blockquote {
      width: 80%;
      padding-left: 20px;
    }
  }
  .grid__col--12 p {
    padding-right: 100px;
    padding-left: 0px;
    padding-top: 40px;
  }

  #forms,
  #images,
  #buttons,
  #grid {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 0;
    font-weight: bolder;
  }
}
